
When you've finished the challenge, let us know how you did.

I won!
= url_for(won_ladder_challenge_url(:ladder_id => @challenge.ladder_id, :id => @challenge.id))

I lost!
= url_for(lost_ladder_challenge_url(:ladder_id => @challenge.ladder_id, :id => @challenge.id))
