/*
 * COLORS:
 *
 * hilight: #FCFFD2
 # link:    #AA2F20
 */

body {
  font-family: Georgia, serif
  background: #690000;
  color: #303030;
}

.container {
  border: 3px solid #b17a7a;
  background: #fff;
  padding: 14px;
}

a {
  color: #AA2F20;
  text-decoration: none;
}

.number {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  width: 750px;
  margin: 0 auto;
  position: relative;
}

#navigation {
  position: absolute;
  top:   32px; 
  right: 0;
  list-style-type: none;
}

  #navigation li {
    float: left;
    margin-left:  10px;
    margin-right: 10px;
  }

    #navigation li.last {
      margin-right: 0;
    }

.challenge .info, .challenge a.button {
  font-size: 24px;
  line-height: 36px;
}

.box {
  background: #FCFFD2;
}

a.button {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
}

a.challenge {
  background: #FF9E1B;
}

a.pending {
  background: #aaa;
}

a.accept {
  background: #01CB2A;
}

a.reject {
  background: #D01F2F;
}

.table .header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #5b5b5b;
  color: #fff;
  border-left:  1px solid #5b5b5b;
  border-right: 1px solid #5b5b5b;  
  font-size: 14px;
  line-height: 36px;  
}

.table .name {
  font-family: Georgia, serif;
  font-size: 1.4em;  
}

.table .row {
  background: #f8f8f8;
  font-size: 14px;
  line-height: 36px;
  padding: 6px 0;
  border-bottom: 1px solid #e7e7e7;
  border-left:  1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.table .row.me {
  background: #FCFFD2;
  font-size: 18px;
  line-height: 54px;
}

.table .row.me .rank {
  background: #D01F2F;
  margin: 15px 0 15px -2px;
}

.table .rank {
  background-color: #F0F0F0;
  background: #333;
  color: #fff !important;
  height: 24px;
  font-size: 10px;
  line-height: 24px;
  margin: 6px 0 4px -2px;
  text-align: center;
}

.table .number {
  color: #111;
  font-weight: bold;
}

h1 a {
  color: #4e9771;
}
