.challenge.box.clearfix
  .span-12.info
    =link_to 'Jane Doe'
    has challenged you!
  .span-6.last
    .span-3= link_to "Accept!", nil, :class => 'accept button'
    .span-3.last= link_to "Reject!", nil, :class => 'reject button'
