- opponent = challenge.challenger?(current_player) ? challenge.challengee : challenge.challenger
.challenge.box.clearfix
  .span-17.info
    - if challenge.won_by?(current_player)
      == Songs will be sung of your victory over #{opponent.login} today!
    - else
      == You lost. Don't worry, you can challenge #{opponent.login} tomorrow.
