- challengee = @current_challenge.challengee
.challenge.box.clearfix
  .span-12.info
    == You have challenged #{challengee.login}.
  - if @current_challenge.challenger?(current_player)
    .span-6.last
      .span-3= link_to "I won!", won_ladder_challenge_path(@current_challenge), :method => :put, :class => 'accept button'
      .span-3.last= link_to "I lost...", lost_ladder_challenge_path(@current_challenge), :method => :put, :class => 'reject button'
  - else
    .span-6.last= link_to "Pending!", nil, :class => 'pending button'
